//
// Copyright 2023 Google LLC
// SPDX-License-Identifier: Apache-2.0
//

@use 'sass:map';
@use './internal/validate';
@use './md-ref-typeface';
@use './v0_192/md-sys-typescale';

$supported-tokens: (
    'display-large-font',
    'display-large-size',
    'display-large-tracking',
    'display-large-line-height',
    'display-large-weight',
    'display-medium-font',
    'display-medium-size',
    'display-medium-tracking',
    'display-medium-line-height',
    'display-medium-weight',
    'display-small-font',
    'display-small-size',
    'display-small-tracking',
    'display-small-line-height',
    'display-small-weight',
    'headline-large-font',
    'headline-large-size',
    'headline-large-tracking',
    'headline-large-line-height',
    'headline-large-weight',
    'headline-medium-font',
    'headline-medium-size',
    'headline-medium-tracking',
    'headline-medium-line-height',
    'headline-medium-weight',
    'headline-small-font',
    'headline-small-size',
    'headline-small-tracking',
    'headline-small-line-height',
    'headline-small-weight',
    'title-large-font',
    'title-large-size',
    'title-large-tracking',
    'title-large-line-height',
    'title-large-weight',
    'title-medium-font',
    'title-medium-size',
    'title-medium-tracking',
    'title-medium-line-height',
    'title-medium-weight',
    'title-small-font',
    'title-small-size',
    'title-small-tracking',
    'title-small-line-height',
    'title-small-weight',
    'body-large-font',
    'body-large-size',
    'body-large-tracking',
    'body-large-line-height',
    'body-large-weight',
    'body-medium-font',
    'body-medium-size',
    'body-medium-tracking',
    'body-medium-line-height',
    'body-medium-weight',
    'body-small-font',
    'body-small-size',
    'body-small-tracking',
    'body-small-line-height',
    'body-small-weight',
    'label-large-font',
    'label-large-size',
    'label-large-tracking',
    'label-large-line-height',
    'label-large-weight',
    'label-medium-font',
    'label-medium-size',
    'label-medium-tracking',
    'label-medium-line-height',
    'label-medium-weight',
    'label-small-font',
    'label-small-size',
    'label-small-tracking',
    'label-small-line-height',
    'label-small-weight',
    'emphasized-display-large-font',
    'emphasized-display-large-size',
    'emphasized-display-large-tracking',
    'emphasized-display-large-line-height',
    'emphasized-display-large-weight',
    'emphasized-display-medium-font',
    'emphasized-display-medium-size',
    'emphasized-display-medium-tracking',
    'emphasized-display-medium-line-height',
    'emphasized-display-medium-weight',
    'emphasized-display-small-font',
    'emphasized-display-small-size',
    'emphasized-display-small-tracking',
    'emphasized-display-small-line-height',
    'emphasized-display-small-weight',
    'emphasized-headline-large-font',
    'emphasized-headline-large-size',
    'emphasized-headline-large-tracking',
    'emphasized-headline-large-line-height',
    'emphasized-headline-large-weight',
    'emphasized-headline-medium-font',
    'emphasized-headline-medium-size',
    'emphasized-headline-medium-tracking',
    'emphasized-headline-medium-line-height',
    'emphasized-headline-medium-weight',
    'emphasized-headline-small-font',
    'emphasized-headline-small-size',
    'emphasized-headline-small-tracking',
    'emphasized-headline-small-line-height',
    'emphasized-headline-small-weight',
    'emphasized-title-large-font',
    'emphasized-title-large-size',
    'emphasized-title-large-tracking',
    'emphasized-title-large-line-height',
    'emphasized-title-large-weight',
    'emphasized-title-medium-font',
    'emphasized-title-medium-size',
    'emphasized-title-medium-tracking',
    'emphasized-title-medium-line-height',
    'emphasized-title-medium-weight',
    'emphasized-title-small-font',
    'emphasized-title-small-size',
    'emphasized-title-small-tracking',
    'emphasized-title-small-line-height',
    'emphasized-title-small-weight',
    'emphasized-body-large-font',
    'emphasized-body-large-size',
    'emphasized-body-large-tracking',
    'emphasized-body-large-line-height',
    'emphasized-body-large-weight',
    'emphasized-body-medium-font',
    'emphasized-body-medium-size',
    'emphasized-body-medium-tracking',
    'emphasized-body-medium-line-height',
    'emphasized-body-medium-weight',
    'emphasized-body-small-font',
    'emphasized-body-small-size',
    'emphasized-body-small-tracking',
    'emphasized-body-small-line-height',
    'emphasized-body-small-weight',
    'emphasized-label-large-font',
    'emphasized-label-large-size',
    'emphasized-label-large-tracking',
    'emphasized-label-large-line-height',
    'emphasized-label-large-weight',
    'emphasized-label-medium-font',
    'emphasized-label-medium-size',
    'emphasized-label-medium-tracking',
    'emphasized-label-medium-line-height',
    'emphasized-label-medium-weight',
    'emphasized-label-small-font',
    'emphasized-label-small-size',
    'emphasized-label-small-tracking',
    'emphasized-label-small-line-height',
    'emphasized-label-small-weight',
);

$unsupported-tokens: (
);

$_default: (
    'md-ref-typeface': md-ref-typeface.values(),
);

@function values($deps: $_default, $exclude-hardcoded-values: false, $exclude-custom-properties: false) {
    $tokens: md-sys-typescale.values($deps, $exclude-hardcoded-values: $exclude-hardcoded-values);

    @if not $exclude-custom-properties {
        // Create --md-sys-typescale-* custom properties
        @each $token, $value in $tokens {
            @if $value != null {
                $tokens: map.set($tokens, $token, var(--md-sys-typescale-#{$token}, #{$value}));
            }
        }
    }

    @return validate.values($tokens, $supported-tokens: $supported-tokens, $unsupported-tokens: $unsupported-tokens);
}
