@media (prefers-color-scheme: dark) {

    .astro-code,
    .astro-code span {
        background-color: var(--md-sys-color-surface);
        color: var(--shiki-dark);
    }

}

:root .astro-code,
:root .astro-code span {
    background-color: var(--md-sys-color-surface-container-low);
    color: var(--shiki-light);
}

:root[dark] .astro-code,
:root[dark] .astro-code span {
    background-color: var(--md-sys-color-surface);
    color: var(--shiki-dark);
}
